[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
elasticsearch = "*"
sentence-transformers = "*"
psycopg2-binary = "*"
python-dotenv = "*"
tqdm = "*"
openai = "*"
pandas = "*"
scikit-learn = "*"
ipywidgets = "*"
flask = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
